a, abbr, address, area, article, aside, audio,
b, base, bdi, bdo, blockquote, body, br, button,
canvas, caption, cite, code, col, colgroup,
data, datalist, dd, del, details, dfn, dialog, div, dl, dt,
element, em, embed,
fieldset, figcaption, figure, footer, form,
h1, h2, h3, h4, h5, h6, head, header, hr, html,
i, iframe, img, input, ins,
kbd,
label, legend, li, link,
main, map, mark, menu, menuitem, meta, meter,
nav, noframes, noscript,
object, ol, optgroup, option, output,
p, param, picture, pre, progress,
q,
rp, rt, rtc, ruby,
s, samp, script, section, select, shadow, small, source, span, strong, style, sub, summmary, sup,
table, tbody, td, template, textarea, tfoot, th, thead, time, title, tr, track,
u, ul,
var, video,
wbr {
    appearance: none;
    background: none;
    border: 0;
    box-sizing: border-box;
    color: inherit;
    font-size: 100%;
    font-family: inherit;
    line-height: 1;
    margin: 0;
    opacity: 1;
    outline: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-decoration: none;
    text-transform: none;
    transform: none;
    vertical-align: baseline;
}
html {
    box-sizing: content-box;
    font-size: 62.5%;
    font-family: sans, sans-serif;
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    box-sizing: content-box;
    height: 100%;
}
article, aside,
details,
figcaption, figure, footer,
header,
menu, main,
nav,
section {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
}
summary {
    display: list-item;
}
template {
    display: none;
}
hr {
    box-sizing: content-box;
    display: block;
    height: 0;
    border-bottom: 1px solid #cccccc;
    padding: 1em 0;
}
code,
kbd,
samp,
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
del {
    text-decoration: line-through;
}
dfn,
em {
    font-style: italic;
}
ins, mark {
    background-color: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
a,
a:active,
a:focus,
a:link,
a:visited {
    cursor: pointer;
    outline: 0;
    text-decoration: none;
}
abbr[title], dfn[title] {
    border: 0;
    text-decoration: underline;
    text-decoration: underline dotted;
    cursor: help;
}
strong {
    font-weight: inherit;
    font-weight: bolder;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
button,
input,
select {
    vertical-align: middle;
}
button {
    cursor: pointer;
}
button:active, button:focus, button:disabled,
input:active, input:focus,
select:active, select:focus,
textarea:active, textarea:focus {
    outline: 0;
}
ol,
ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
textarea {
    overflow: auto;
}
[hidden] {
    display: none;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 0;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
